
<div class="py-5 border-top">
  <div class="container-fluid">


    <div class="row" style="font-size:1.1rem;">

      <div class="col-sm-5"></div>
      <div class="col-sm text-right">
        <p>
          I’m the head of computational biology at DNTOX GmbH and postdoctoral researcher at the Leibniz Research Institute for Environmental Medicine (IUF). We're on a mission to develop <i>in vitro</i> test methods for animal-free screening of chemicals, regarding their potential to disturb brain development and cause developmental neurotoxicity (DNT). I'm also working in the Bioinformatics working group of Prof. Dr. Axel Mosig at Ruhr University Bochum, Department of Biophysics, where I supervise work on applications of deep learning to biomedical image analysis and computational biostatistics.
        </p>
        
        <p>
          Before joining IUF, I was a PhD student and PostDoc in the Algebra working group of Prof. Dr. Markus Reineke at Ruhr University Bochum, where I worked on geometric approaches to linear algebra type classification problems.<i><a href="https://arxiv.org/abs/2207.11139" target="_blank">We studied geometric properties of quiver moduli spaces with topological, arithmetic, algebraic, and homological methods</a></i>.
        </p>

        <!--
        <p>
          Current research interests include the development of interacting particle systems for computational problems raised from topics in experimental toxicology and connections between noncommutative geometry and unsupervised learning.
        </p>
        -->
        <p>
          My work is driven by the goal of replicating human learning and inferencing in machines, including their weak points, such as bias. I use mathematical models, computer simulations, and behavioral experiments to investigate the principles that guide people on a daily basis, such as inductive reasoning.
        </p>
        <p>Besides empirical methods such as behavioral testing of adults, I approach these principles by <a href="https://www.landsburg.com/grothendieck/mclarty1.pdf" target="_blank">Alexander Grothendieck’s "Rising sea"</a> philosophy. The long and short of it: “If a phenomenon seems hard to explain, it’s because you haven’t fully understood how general it is. Once you figure out how general it is, the explanation will stare you in the face.” One thing that always excited me about Grothendieck's geometry revolution was that he rethought (and eventually redefined) the very notion of a <b><i>point</i></b> in geometry. Strongly inspired and influenced by this, I have generalized the very notion of <b><i>symmetry</i></b> (and rethought the classification problem) in <a href="https://proceedings.mlr.press/v197/donmez23a.html" target="_blank"><i>On the ambiguity in classification</i>, 2023</a>.  
        </p>
      </div>
      <div class="col-sm" style="font-weight:bold;border-width: thin;border-left-style: solid;">
        <img src="arifdoenmez.jpg" alt="Arif Doenmez" width="250px;">
        <p class="mydetails">Dr. Arif Dœnmez</p>
        <p><a href="https://scholar.google.com/citations?user=qMx_mSEAAAAJ" target="_blank">Google Sholar</a></p>
        <p><a href="https://www.genealogy.math.ndsu.nodak.edu/id.php?id=286417" target="_blank">Mathematics Genealogy Project</a></p>
        <p><a href="https://www.linkedin.com/in/arifdoenmez/" target="_blank">LinkedIn</a></p>
      </div>

    </div>

  </div>
</div>
