<header>
  <div class="container-fluid">
    <div class="fixed-top" style="font-weight:bold;padding-top: 1em;padding-left:15px;">
          <i>Arif Dönmez</i>, Work
    </div>
    <div class="row">
      <div class="col-sm-6" style="font-weight:bold;padding-top: 1em;color:white;">
        <i>Arif</i>
      </div>
      <div class="col-sm" style="font-weight:bold;border-width: thin;border-left-style: solid;padding-top: 1em;">
        Co-Founder and Head of Computational Biology at DNTOX and Postdoctoral Researcher at Leibniz Research Institute for Environmental Medicine.
      </div>
      <div class="col-sm" style="font-weight:bold;border-width: thin;border-left-style: solid;padding-top: 1em;">
        Inquiries: <br />arif.doenmez@dntox.de
      </div>
    </div>
  </div>
</header>

<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item">
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
          {%- endif -%}
        {% endfor -%}
        <li class="nav-item">
          <a class="nav-link" href="{{ site.github.repository_url }}">Fork me on Github</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->
